@font-face {
    font-family: 'Golos-text-black';
    src: url('/assets/font/golos-text_black/golos-text_black.woff2') format('woff2'),
         url('/assets/font/golos-text_black/golos-text_black.woff') format('woff');
    font-weight: black; /* Начертание шрифта (normal, bold и др.) */
    font-style: black; /* Стиль шрифта (normal, italic и др.) */
}

@font-face {
    font-family: 'Golos-text-bold';
    src: url('/assets/font/golos-text_bold/golos-text_bold.woff2') format('woff2'),
         url('/assets/font/golos-text_bold/golos-text_bold.woff') format('woff');
    font-weight: bold; /* Начертание шрифта (normal, bold и др.) */
    font-style: bold; /* Стиль шрифта (normal, italic и др.) */
}

@font-face {
    font-family: 'Golos-text-demibold';
    src: url('/assets/font/golos-text_demibold/golos-text_demibold.woff2') format('woff2'),
         url('/assets/font/golos-text_demibold/golos-text_demibold.woff') format('woff');
    font-weight: normal; /* Начертание шрифта (normal, bold и др.) */
    font-style: normal; /* Стиль шрифта (normal, italic и др.) */
}

@font-face {
    font-family: 'Golos-text-medium';
    src: url('/assets/font/golos-text_medium/golos-text_medium.woff2') format('woff2'),
         url('/assets/font/golos-text_medium/golos-text_medium.woff') format('woff');
    font-weight: medium; /* Начертание шрифта (normal, bold и др.) */
    font-style: medium; /* Стиль шрифта (normal, italic и др.) */
}

@font-face {
    font-family: 'Golos-text-regular';
    src: url('/assets/font/golos-text_regular/golos-text_regular.woff2') format('woff2'),
         url('/assets/font/golos-text_regular/golos-text_regular.woff') format('woff');
    font-weight: normal; /* Начертание шрифта (normal, bold и др.) */
    font-style: normal; /* Стиль шрифта (normal, italic и др.) */
}

@font-face {
    font-family: 'Golos-text-vf';
    src: url('/assets/font/golos-text_vf/golos-text_vf.woff2') format('woff2'),
         url('/assets/font/golos-text_vf/golos-text_vf.woff') format('woff');
    font-weight: normal; /* Начертание шрифта (normal, bold и др.) */
    font-style: normal; /* Стиль шрифта (normal, italic и др.) */
}

