.picture-weather {
    /* background-image: url(/assets/img/back.jpg); */
    width: 1200px;
    height: 1200px;
    background-size: cover; /* чтобы картинка полностью заполняла div */
  background-position: center;
  position: relative;
  overflow: hidden;
}

/* #source {
    
} */

.picture-logo {
    background-image: url(/assets/img/back-logo.png);
    width: 1200px;
    height: 1200px;
    z-index: 2;
    position: relative;
}

#text-title {
    height: 120px;
    width: 100%;
    font-family: 'Golos-text-bold', sans-serif;
    color: white;
    font-size: 62.95px;
    padding-left: 80px;
    padding-top: 65px;
}

#weather-now {
    width: 1040px;
    height: 520px;
    /* background-color: white;
    opacity: 50%; */
    margin-top: 18px;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    justify-content: space-between;
}

.now-container {
    width: 520px;
    height: 520px;
    /* background-color: yellow; */
    /* opacity: 50%; */
    color: white;
    font-family: 'Golos-text-bold', sans-serif;
    font-size: 228px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
        
}

#icon-now {
    width: 520px;
    opacity: 100%;
}

#indicators {
    width: 1040px;
    height: 100px;
    /* background-color: white;
    opacity: 50%; */
    margin-top: 18px;
    margin-left: 80px;
    display: flex;
    justify-content: space-between;
}

.indicator {
    width: auto;
    height: 100px;
    font-family: 'Golos-text-medium', sans-serif;
    font-size: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    color: white;
}

.icon-indicator {
    width: 100px;
    height: 100px;
    margin-right: 15px;
}

.unit-of-measurement {
    margin-left: 20px;
}

#line {
    margin-top: 25px;
    margin-left: 80px;
    width: 1040px;
    border: 3px solid white;
    
}

.weather-forecast-container {
    width: 1040px;
    height: 240px;
    /* background-color: white;
    opacity: 50%; */
    margin-top: 18px;
    margin-left: 80px;
    display: flex;
    justify-content: space-between;
}

.forecast-title {
    width: auto;
    height: 100px;
    font-family: 'Golos-text-medium', sans-serif;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    color: white;
}

.icon-forecast {
    width: 120px;
    height: 120px;
}

.temperature-forecast {
    font-family: 'Golos-text-bold', sans-serif;
    font-size: 128px;
    color: white;
    margin-top: -20px;
    text-align: center;
}


/* СТИЛИ КНОПОК */

.button, .input-text {
    width: 300px;
    height: 50px;
    font-size: 20px;
    font-family: 'Golos-text-medium', sans-serif;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px #9e9e9e;
    margin-top: 20px;
    margin-right: 20px;
}

.input-section {
    /* width: 300px; */
    height: 50px;
    font-size: 20px;
    font-family: 'Golos-text-medium', sans-serif;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 20px;
}

label {
    font-size: 20px;
    font-family: 'Golos-text-bold', sans-serif;
    margin-right: 20px;
    
}

h1 {
    font-family: 'Golos-text-bold', sans-serif;
}

option {
    font-family: 'Golos-text-bold', sans-serif;
}

.download {
    background-color: #1941FF ;
    color: white;
}

.replace {
    background-color: #00AB4F ;
    color: white;
}

.input-file {
    display: none;
}

.file {
    background-color: #FF1940 ;
    color: white;
}